body {

    background-color: #EEEEEE;
    font-family: Ariel;
}

#container {

  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;


}

#header {

  background-color: #66CCFF;
  color: white;
  text-align: center;
  padding: 10px



}

#content {

  padding: 10px 10px 10px 10px;

}

#queue {

  width: 180px;
  float: left;
  text-align: center;

}

#main {

  width: 600px;
  height: 500px;
  float: right;
  background-color: blue;
  color: white;
  text-align: center;

}

#instructor1 {

  width: 150px;
  height: 150px;
  background-color: #3399FF;
  float: left;
  margin: 5px auto;
  color: black;

}

#instructor2 {

  width: 150px;
  height: 150px;
  background-color: #00F5F5;
  float: left;
  margin: 5px auto;
  color: black;


}

#instructor3 {

  width: 150px;
  height: 150px;
  background-color: #B80000;
  float: left;
  margin: 5px auto;
  color: black;
}

#instructor4 {

  width: 150px;
  height: 150px;
  background-color: #FFFF33;
  float: left;
  margin: 5px auto;
  color: black;
}

#footer {

  clear: both;
  padding: 10px;
  background-color: #999999;
  color: white;
  text-align: right;
}
